
@{
    ViewBag.Title = "ConfirmationRequired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="center-div text-center" style="max-width:650px;">
        <i class="fa fa-frown-o fa-5x" style="color:#605ca8;"></i>

        <h1>OOPS!, YOUR ACCOUNT HASN'T BEEN VERIFIED YET.<i class="fa fa-paper-plane-o" style="color:gray;"></i></h1>
        <h3>We sent you an email with instructions on how to verify your account. Please check your email.</h3>
        <h4>If you did not recieve confirmation email recieved click the link below to Resend.</h4>

        <a href="#" class="btn btn-success"><i class="fa fa-refresh"></i> RESEND CONFIRMATION</a>

    </div>


</div>

