
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    @section styles{
        @Styles.Render("~/toastr/css")
    }
}

<div class="container">
    <div class="center-div" style="width:500px;margin-top:50px;">

        <div class="box box-danger" style="border-bottom:2px solid purple;border-top:3px solid purple;">
            <div class="box-header with-border text-center" style="border-bottom:1px solid purple">
                <h4 class="lead" style="color:black;margin-bottom:5px;"><b>Forgot Password?</b></h4>
            </div>
            <div class="box-body">

                <h5 class="text-center"><b>Enter email address below to reset your password.</b></h5>
                <div style="margin-top:30px;" class="col-md-offset-1 col-md-10">
                    <form id="emailForm" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="email" class="form-control input-lg" type="email" placeholder="johndoe@organization.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <a id="button" class="btn btn-lg bg-purple btn-block"><i class="fa fa-refresh"></i> RESEND</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    @Scripts.Render("~/toastr/js")

    <script type="text/javascript">

        $('#button').click(function (event) {
            //input, and check input
            var Email = $('#email').val();
            $.ajax({
                type: "POST",
                url: '/Account/SendPasswordResetEmail?email=' + Email,
                timeout: 20000,
                success: function(data){
                    if(data.Successful)
                        toastr.success(data.Html);
                    else
                        toastr.error(data.Html);
                },
                error: function(request, status, err){
                    if(status === "timeout")
                        toastr.error('Please Reload and try Again');
                    else
                        toastr.error('Error sending Email Confimation');
                }
            });
        });

    </script>

}