
html{height:100%;}body{height:100%;margin:0;padding:0;background-color:#fafafa;direction:ltr;}

.bg-pic{position:absolute;width:100%;overflow:hidden;}

.bg-pic>img{height:100%;opacity:0.6;}

.login-wrapper{height:100%;background-color:#6d5cae;}.login-wrapper>*{height:100%;}.login-wrapper .bg-pic{position:absolute;width:100%;overflow:hidden;}.login-wrapper .bg-pic>img{height:100%;opacity:0.4;}.login-wrapper .login-container{width:496px;display:block;position:relative;float:right;}.login-wrapper .bg-caption{width:500px;}.register-container{width:550px;margin:auto;height:100%;}@media (max-width: 768px) {.login-wrapper .login-container{width:100%;}.register-container{width:100%;padding:15px;}}@media only screen and (max-width: 321px) {.login-wrapper .login-container{width:100%;}}

.bg-white{background-color:#fff;}

.post-content {
	color: white;
    top:30px;
    left:0;
    position: absolute;
}

.bottom-content {
	color: white;
    bottom:20px;
    left:0;
    position: absolute;
}

.login-box{
    top:20%;
}

.register-box{
    top:10%;
}

.login-content {
    bottom:20px;
    position: absolute;
}

.validate-Form{
    margin-top: 65%;
}

.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}

.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
  border-radius: 0;
}

.bg-purple {
	color: #fff !important;
  	background-color: #605ca8 !important;
}

.bg-purple-active {
  background-color: #555299 !important;
}

/*
 * Component: Form
 * ---------------
 */
.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}
.form-control:focus {
  border-color: #605ca8;
  box-shadow: none;
}
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #bbb;
  opacity: 1;
}
.form-control:not(select) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-group.has-success label {
  color: #00a65a;
}
.form-group.has-success .form-control {
  border-color: #00a65a;
  box-shadow: none;
}
.form-group.has-warning label {
  color: #f39c12;
}
.form-group.has-warning .form-control {
  border-color: #f39c12;
  box-shadow: none;
}
.form-group.has-error label {
  color: #dd4b39;
}
.form-group.has-error .form-control {
  border-color: #dd4b39;
  box-shadow: none;
}
/* Input group */
.input-group .input-group-addon {
  border-radius: 0;
  border-color: #d2d6de;
  background-color: #fff;
}
/* button groups */
.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
  border-radius: 0;
}
/* support Font Awesome icons in form-control */
.form-control-feedback.fa {
  line-height: 34px;
}
.input-lg + .form-control-feedback.fa,
.input-group-lg + .form-control-feedback.fa,
.form-group-lg .form-control + .form-control-feedback.fa {
  line-height: 46px;
}
.input-sm + .form-control-feedback.fa,
.input-group-sm + .form-control-feedback.fa,
.form-group-sm .form-control + .form-control-feedback.fa {
  line-height: 30px;
}