@model Sirius.Web.Models.SupervisorSettingsViewModel

<div class="modal fade" id="supervisorSettings" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
                <h4 class="modal-title">Change your supervisor</h4>
            </div>
            @if (Model.HasPendingRequest)
            {
                <div class="modal-body">
                    <div class="callout callout-info">
                        <p>
                            You have sent a supervisor request. Wait till they accept or decline your request.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            }
            else
            {
                using (Ajax.BeginForm("SupervisorSetting", "Settings", null, new AjaxOptions()
                {
                    OnBegin = "supervisorBegin",
                    OnComplete = "supervisorComplete",
                    OnFailure = "supervisorFailure",
                    OnSuccess = "supervisorSuccess",
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace,
                }, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        @if (Model.UserHasDoneAppraisal && Model.UserHasSupervisor)
                        {
                            <div class="callout callout-warning">
                                <p>
                                    Please note that you have entered an appraisal period with @Model.CurrentSupervisorName, however, You can change your
                                    supervisor now but it will reflect at the end of this appraisal cycle.
                                </p>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="form-group">
                                    <label>Select your current supervisor: </label>
                                    @Html.DropDownListFor(m => m.SupervisorId, new SelectList(Model.SupervisorList, "Value", "Text", 0), new { @class = "form-control" })
                                </div>
                            </div>

                            @*<div class="col-md-offset-1 col-md-10">
                                <h4>Can't find your supervisor? <a id="invitationButton">Click to Invite them!</a></h4>
                            </div>*@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="submitButton" type="submit" class="btn btn-success">Change Supervisor</button>
                        <a class="btn btn-default pull-left" data-dismiss="modal">Close</a>
                    </div>
                }
            }
        </div>
    </div>
</div>