
<div class="col-md-3">
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Appraisal Settings</h3>
            <div class="box-tools">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
                <li class="@ViewBag.AppraisalSettingsCycle"><a href="~/pm/appraisalcycle"><i class="fa fa-clock-o"></i> Appraisal Cycles</a></li>
                <li class="@ViewBag.AppraisalSettingsFormat"><a href="~/pm/format"><i class="fa fa-file-text-o"></i> Appraisal Format</a></li>
                <li class="@ViewBag.AppraisalSettingsRec"><a href="~/pm/recommendation"><i class="fa fa-commenting"></i> Reccommendations</a></li>
                <li class="@ViewBag.AppraisalSettingsDimension"><a href="~/pm/dimension"><i class="fa fa-tasks"></i> Job Competencies</a></li>
            </ul>
        </div>
    </div>
</div>