
@{
    ViewBag.Title = "404 Error Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="error-div">
    <h2 class="text-yellow">404</h2>
    <div class="error-div-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
        <p>
            We could not find the page you were looking for.
            Meanwhile, you may <a href="../../index.html">return to dashboard</a>
        </p>
    </div>
</div>

