
@{
    ViewBag.Title = "500 Error Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="error-div">
    <h2 class="text-red">500</h2>
    <div class="error-div-content">
        <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>
        <p>
            We will work on fixing that right away.
            Meanwhile, you may <a href="../../index.html">return to dashboard</a>
        </p>
    </div>
</div>

