@model Sirius.Web.Models.TaskSummaryViewModel

<div class="modal fade" id="task_@Model.UserTask.UserTaskHtmlId" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
                <h4 class="modal-title">Task Summary</h4>
            </div>
                <div class="modal-body">
                    <h4><span class="label bg-navy"><i class="fa fa-briefcase"></i> Title</span></h4>
                    <h4>@Model.UserTask.TaskTitle</h4>
                    <h4><span class="label bg-navy"><i class="fa fa-briefcase"></i> Description</span></h4>
                    <h4>@Model.UserTask.Description</h4>
                    @if (Model.Expectations.Count() > 0)
                    {
                        <div class="row">
                            <div class="col-xs-6">
                                <h4><span class="label bg-aqua-gradient"><i class="fa fa-briefcase"></i> Measure</span></h4>
                            </div>
                            <div class="col-xs-6">
                                <h4><span class="label bg-aqua-gradient"><i class="fa fa-briefcase"></i> Target/Expectation</span></h4>
                            </div>
                        </div>
                        foreach (var expectation in Model.Expectations)
                        {
                            <div class="row">
                                <div class="col-xs-6">
                                    <p>@expectation.Measure</p>
                                </div>
                                <div class="col-xs-6">
                                    <p>@expectation.Target</p>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
        </div>
    </div>
</div>